body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/pexels-tomas-anunziata-129267-3876453.jpg);
    font-family: "Coming Soon", cursive;
}

.parallax {
    background-image: url(./assets/pexels-tomas-anunziata-129267-3876453.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y:auto;
}

h1{
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 80px;
    font-weight: 700;
}

.first-paragraph{
    text-align: center;
    color: black;
    font-weight:900;
    font-size: 60px;
}

p{
    text-align: center;
    color: antiquewhite;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    animation: fadein 3s ease; 

}
@keyframes fadein {
    from { opacity: 0; } 
    to { opacity: 1; }
}

button{
    width: 269px;
    height: 62px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    justify-content: center;
    color: black;
    box-shadow: 0px 10px 24px 0px #a7cc2319;
    background-color:antiquewhite;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 800px;
    
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

a{
    text-decoration: none;
    color: rgb(192, 117, 18);
}

footer {
    text-align: center; 
    padding: 20px; 
    background-color: #333;
    color: antiquewhite;
}

@media screen and (max-width: 908px){
    h1{ 
        font-size: 50px;
        line-height: 52px;
        width: auto;
        margin: 58px 58px 0 50px;
        text-align: center; 
    }

    .first-paragraph{
        font-size: 35px;
        margin-bottom: 10px;
    }

    p{
        font-size: 30px;
    }

    button{
        margin: 0 auto;
        display: block; 
        
    } 
}

@media screen and (min-width: 909px){
    h1{ 
        font-size: 50px;
        line-height: 52px;
        width: auto;
        margin: 58px 58px 0 50px;
        text-align: center; 
    }

    .first-paragraph{
        font-size: 35px;
        margin-bottom: 10px;
    }

    p{
        font-size: 30px;
    }

    button{
        margin: 0 auto;
        display: block; 
        
    } 
}



